<ion-header [translucent]="true">
  <ion-content class="ion-text-center ion-justify-content-center">
    <ion-label color="warning">Bienvenido, {{ user.usuario }}</ion-label>
  </ion-content>




  <ion-toolbar>
    <ion-input placeholder="Seleccione la direccion"></ion-input>
  </ion-toolbar>
</ion-header>

<br>
<br>
<br>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mapa</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ion-item>

<div id="map-container">
  <div id="map"></div>
</div>

<div>
    <ion-button color= "warning" fill="clear" [routerLink]="['/disponible']">Aceptar </ion-button>
    <ion-button color= "warning" fill="clear" [routerLink]="['/home']">Cancelar</ion-button>
</div>

  
</ion-content>


