<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src=""></ion-img>

  <ion-card color="warning" >
    <ion-card-header>
      <ion-card-title>Bienvenido a TeLlevoAPP</ion-card-title>
      <ion-card-subtitle>Ingrese a su cuenta</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="user.usuario" label="Usuario" placeholder="Ingrese Nombre Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" type="password" value=""></ion-input>
        </ion-item>
 

       
      </ion-list>
    </ion-list>

    <ion-button color= "light" fill="clear" (click)="enviarLogin()">Ingresar</ion-button>
    <ion-button color= "light" fill="clear"  [routerLink]="['/crearcuenta']">Crear Cuenta</ion-button>
    <ion-button color= "light" fill="clear" [routerLink]="['/recupera']">Olvido contraseña?</ion-button>


  </ion-card>
  
</ion-content>
